.Chart {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
   background-color: white;
   border-radius: 12px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   gap: 20px;

}

.ChartBox {
   height: 500px;
   width: 100%;
   position: relative;
   cursor: crosshair;

   &.moveCursor {
      cursor: grab;

      &:active {
         cursor: grabbing;
      }
   }
}

.ChartControlPanel {
   display: flex;
   align-items: center;
}

.ChartControlsBox {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.ChartControlsItem {
   display: flex;
   align-items: center;
   gap: 8px;

}

.ChartControlsButton {
   padding: 6px 8px;
   border-radius: 4px;
   border: 1px solid var(--ovelay-border);
}

.VariationsBox {
   display: flex;
   flex-direction: column;
   background: var(--ovelay-color);
   border: 1px solid var(--ovelay-border);
   border-radius: 4px;
   z-index: 101;
}

.VariationsButton {
   padding: 10px;

   &:hover {
      background-color: var(--primary-hover-color);
   }
}